/* define colour vars in root */

:root {
  --nearblack: rgb(11, 11, 11);
  --secondary: rgb(44, 44, 44);
  --tertiary: rgb(75, 75, 75);
  --lighter: rgb(120, 120, 120);
  --primary: rgb(212, 212, 212);
  --error: rgb(228, 67, 61);
  --blue: rgb(64, 162, 217);
}

.editor-error {
  background-color: rgba(255, 0, 0, 0.3);
}

.glyph-error {
  padding-left: 10px;
  font-size: 14px;
  &::before {
    content: '💀';
  }
}

body {
  background-color: var(--nearblack);
  color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  border: 2px solid var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  padding: 0;
  margin: 6px 0;
}

canvas {
  background-color: black;
  width: 100%;
  max-height: 95vh;
}

canvas:focus {
  outline: none;
}

/* media query for smaller screens */
@media (max-width: 1000px) {
  canvas {
    width: 100%;
  }
  #note {
    display: none;
  }
  #status {
    display: none;
  }
}

button {
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--tertiary);
  height: 45px;
  margin: 3px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 20px;
  color: var(--blue);
}

.btn-small {
  height: 35px;
  font-size: 16px;
}

button:hover {
  background-color: var(--tertiary);
}

button:disabled {
  background-color: var(--secondary);
  color: var(--lighter);
}

select {
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--tertiary);
  height: 35px;
  margin: 3px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  color: var(--blue);
  width: 100%;
}

#output-wrap {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--secondary);
  resize: vertical;
  overflow: auto;
}

dialog {
  top: -40%;
  padding: 10px 25px;
  color: var(--primary);
  border: 0;

  background: rgba(20, 20, 20, 0.4);
  border-radius: 9px;
  backdrop-filter: blur(21.8px);
  box-shadow: 0px 15px 21px 7px rgba(0, 0, 0, 0.99);

  z-index: 100;
  max-width: 400px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#toolbar {
  padding: 5px;
  align-items: center;
}
#toolbar button {
  width: 45px;
}

#error {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  color: var(--error);
  padding: 9px;
  margin: 15px;
  font-size: 1.2rem;
  background-color: var(--nearblack);
  border: 3px solid var(--error);
  border-radius: 5px;
  font-family: Consolas, 'Courier New', Courier, monospace;
  box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.6);
}

ul {
  padding: 0;
  margin: 10px 0px;
  max-height: 200px;
  height: 200px;
  overflow-y: scroll;
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  background-color: rgba(0, 0, 0, 0.4);
}

li {
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}

li:before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  content: '\f1c9';
  padding: 0px 5px;
}

.file-sect {
  padding: 4px 15px;
  background-color: var(--secondary);
}

.file-sect::before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  content: '\f07c';
  padding: 0px 8px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

#note {
  font-size: 0.9rem;
  color: var(--tertiary);
  margin-left: auto;
}

#status {
  font-size: 0.95rem;
  color: var(--lighter);
  margin-left: 1rem;
}

a {
  color: var(--lighter);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

a:visited {
  color: var(--lighter);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.fw-label {
  width: 10rem;
  display: inline-block;
}
